In [15]:
from src import log_parser

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import scipy.io
import smartload.smartload as smart
import datetime
import pickle

%reload_ext autoreload
%autoreload 2

In [7]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [8]:
file_to_read = open("logs/explogs.pkl", "rb")
loaded_object = pickle.load(file_to_read)
file_to_read.close()

In [9]:
googledb = loaded_object['googledb']
matlabdb = loaded_object['matlabdb']
loaded_object['last_updated']

'2021-11-16_17-05-18'

In [22]:
pd.DatetimeIndex(matlabdb.dateStr) > pd.Timestamp(2021, 4, 1)

array([False, False, False, ...,  True,  True,  True])

In [37]:
filtered_tbl = matlabdb[(matlabdb.animal == 'e57') & (pd.DatetimeIndex(matlabdb.dateStr) >= pd.Timestamp(2021, 3, 1)) & \
        (matlabdb.maxdelays == 0) & (pd.DatetimeIndex(matlabdb.dateStr) <= pd.Timestamp(2021, 5, 1)) & (matlabdb.ntrials > 250)]
print(list(filtered_tbl.value))

filtered_tbl

['2021-03-02_1_E57', '2021-03-03_1_E57', '2021-03-04_1_E57']

              date                dateStr             type             value                                           comments  id animal  ntrials  nblocks  flags  maxdelays formatted_date
953  738217.695276  Tue 02-Mar-2021 16:41  experiment-info  2021-03-02_1_E57  [E57blockworldrolling (threshold = 0.6)       ...  45    e57    266.0      2.0      0        0.0     2021-03-02
956  738218.527776  Wed 03-Mar-2021 12:39  experiment-info  2021-03-03_1_E57  [E57blockworldrolling (threshold = 0.6), 15 mi...  48    e57    391.0     13.0      0        0.0     2021-03-03
957  738219.781504  Thu 04-Mar-2021 18:45  experiment-info  2021-03-04_1_E57  [e57blockworldrolling w pupil, no delay       ...  49    e57    622.0     21.0      0        0.0     2021-03-04

In [8]:
googledb.nblocks.unique()

array(['', 6, 14, 16, 7, 10, 4, 5, 15, 2, 17, 9, 1, 3, 11, 8, 12, 19, 20,
       24, 13, 'N/A', '1?', '23!!!', 22, 23, 26, 0, 18, '~7'],
      dtype=object)